._container_Nabvar {
  border-bottom: solid 0.1px #fff;
  display: flex;

  ._search {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 30px 70px;
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  input {
    display: flex;
    width: 350px;
    border-radius: 20px;
    border: none;
    height: 35px;
    align-items: center;
    justify-content: center;
    writing-mode: horizontal-tb;
    letter-spacing: normal;
    text-align: center;
    outline: none;
  }

  .btn {
    background-color: transparent;
    border: none;
    color: #fff;
  }
}
._title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
